<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.software.verifyoo.verifyooofflinesdk" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Activities.VerifyooRegister"
            android:label="@string/title_activity_verifyoo_register" >
        </activity>
        <activity
            android:name=".Activities.VerifyooAuthenticate"
            android:label="@string/title_activity_verifyoo_authenticate" >
        </activity>
    </application>

</manifest>
